<section ng-if="!!vm.authentication.isAdmin()" class="book-form">
  <div class="page-header">
    <a class="btn btn-primary pull-right" href="/books">
      <span class="glyphicon glyphicon-chevron-left"></span>View Books
    </a>
    <h2>Add New Book</h2>
  </div>
  <div class="col-md-12">
    <form name="vm.form.bookForm" class="form-horizontal" ng-submit="vm.save(vm.form.bookForm.$valid)" novalidate>
      <fieldset>
        <div class="row-fluid">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label" for="title">Category</label>
              <select id="book_id" class="form-control" ng-model="vm.book.category">
                <option value="Fiction">Fiction</option>
                <option value="Non Fiction">Non Fiction</option>
                <option value="Technical">Technical</option>
                <option value="Magazine">Magazine</option>
              </select>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="title">Title</label>
              <input name="title" size="30" type="text" ng-model="vm.book.title" id="title" class="form-control" placeholder="Title" required>
              <div ng-messages="vm.form.bookForm.title.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Book title is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="author">Author</label>
              <input name="author" size="30" type="text" ng-model="vm.book.author" id="author" class="form-control" placeholder="Author" required>
              <div ng-messages="vm.form.bookForm.author.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Author name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="publication">Publication</label>
              <input name="publication" size="30" type="text" ng-model="vm.book.publications" id="publication" class="form-control" placeholder="Publication" required>
              <div ng-messages="vm.form.bookForm.publication.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Publication name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="condition">Condition</label>
              <input name="condition" size="30" type="text" ng-model="vm.book.condition" id="condition" class="form-control" placeholder="Condition" required>
              <div ng-messages="vm.form.bookForm.condition.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Condition is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="isbn">ISBN</label>
              <input name="isbn" size="30" type="text" ng-model="vm.book.isbn" id="isbn" class="form-control" placeholder="ISBN" required>
              <div ng-messages="vm.form.bookForm.isbn.$error" role="alert">
                <p class="help-block error-text" ng-message="required">ISBN is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="contribution">Contributed By</label>
              <input name="contributedBy" size="30" type="text" ng-model="vm.book.contributedBy" id="contributedBy" class="form-control" placeholder="Contributed By">
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="desc">Description</label>
              <textarea name="desc" data-ng-model="vm.book.desc" id="desc" class="form-control" cols="10" rows="10" placeholder="Description"></textarea>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mln">
              <div class="">
                <img alt="Book Image" id="book_image" ng-src="{{vm.imageURL}}" class="user-profile-picture">
                <div>
                  <!-- <input type="file" name="book_cover" ng-model="vm.file" id="book_cover" onchange="angular.element(this).scope().vm.fileSelected()" /> -->
                  <input type="file" nv-file-select uploader="vm.uploader">
                </div>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="imageUrl">Image Link</label>
                <input required name="imageLink" size="30" type="url" ng-model="vm.book.imageUrl" id="imageLink" class="form-control" placeholder="ImageUrl">
                <div ng-messages="vm.form.bookForm.imageLink.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Image Link is required.</p>
                </div>
              </div>
              <br>
              <div class="form-group" show-errors>
                <label class="control-label" for="review_link">Review Link</label>
                <input required name="reviewLink" size="30" type="url" ng-model="vm.book.reviewLink" id="reviewLink" class="form-control" placeholder="Review Link">
                <div ng-messages="vm.form.bookForm.reviewLink.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">Review Link is required.</p>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <select id="location" class="form-control" ng-model="vm.book.location">
                  <option value="Midtown-GF Floor">Midtown-GF Floor</option>
                  <option value="Midtown-2nd Floor">Midtown-2nd Floor</option>
                  <option value="Midtown-3rd Floor">Midtown-3rd Floor</option>
                  <option value="Midtown-4th Floor">Midtown-4th Floor</option>
                  <option value="Midtown-5th Floor">Midtown-5th Floor</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 form-group">
            <button type="submit" class="btn btn-default">Create</button>
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</section>

<div ng-if="!vm.authentication.isAdmin()">
  <h1>Forbidden</h1>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You are not authorized to access this resource
  </div>
</div>
