<section class="book-list">
  <div class="page-header">
    <dropdown dropdown-name="Category" src="vm.categories" selected-item="vm.selectedItem" width="100" height="" on-change="vm.changeSelectedBook(selectedItem)" ></dropdown>
  </div>
  <h3> Total number of books: {{ vm.submittedBooks.length }}</h3>
  <div ng-show="vm.submittedBooks.length" class="list-group">
      <div class="row row-eq-height" ng-repeat="book in vm.submittedBooks | orderBy:'title'">
        <div class="col-md-2">
            <a href="#">
                <img class="img-responsive" ng-src="{{ book.imageURL }}" />
            </a>
        </div>
        <div class="col-md-10">
          <div class="col-md-4">
            <h4 ng-bind="book.title"></h4>
            <h5 ng-bind="book.subtitle"></h5>
            <h5>Author: {{book.author}}</h5>
            <div>Publication: {{book.publications}}</div>
            <div>Category: {{book.category}}</div>
            <div>Location: {{book.location}}</div>
          </div>
          <div class="col-md-4">
            <h5>Description: </h5>
            <p ng-bind="book.desc"></p>
          </div>
          <!--Action buttons should exist seperately-->
          <a class="btn btn-success" ng-click="vm.approve(book)" ng-show="!book.submitRequestApproved"
            href="#">Approve <span class="glyphicon glyphicon-chevron-right"></span></a>
          <a class="btn btn-danger" ng-click="vm.reject(book)" ng-show="!book.submitRequestApproved"
            href="#">Reject<span class="glyphicon glyphicon-chevron-right"></span></a>
          <p ng-show="!!book.submitRequestApproved">Assign to:
            <dropdown src="book" selected-item="book.selectedRequester" \
             width="100" height="" on-change="vm.assignBookToSelectedUser(selectedItem, book)" ></dropdown>
          </p>
          <!-- <div>
            <a ng-show="book.status === 'reserved'" class="btn btn-success" ng-click=""
              href="#">Assign <span class="glyphicon glyphicon-chevron-right"></span></a>
          </div> -->
        </div>
      </div>
  </div>
  <div ng-show="!vm.submittedBooks.length">
    <h3>No Books found !!!</h3>
  </div>
</section>
