<div class="pull-left col-md-12">
  <h3> All Reviews </h3>
  <div class="row row-eq-height">
    <div class="col-md-2">
      <h4>Reviewer Name</h5>
    </div>
    <div class="col-md-4">
      <h4>Comments</h5>
    </div>
  </div>

  <div class="row row-eq-height">
    <div class="col-md-2">
       Anoop
    </div>
    <div class="col-md-4">
       Awesome Book !
    </div>
  </div>

  <div class="row row-eq-height">
    <div class="col-md-2">
       Rahul
    </div>
    <div class="col-md-4">
       Good Book !
    </div>
  </div>

  <div class="row row-eq-height">
    <div class="col-md-2">
       Prakriti
    </div>
    <div class="col-md-4">
       I don't Care !
    </div>
  </div>

  <div ng-repeat="review in vm.src" class="row row-eq-height">
    <div class="col-md-2">
       {{ review.reviewerName }}
    </div>
    <div class="col-md-4">
       {{ review.comments }}
    </div>
  </div>

</div>
