<div ng-if="!vm.authentication.isAdmin() || !vm.admins.length">
  <h1>Under Maintenance</h1>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Admins are sleeping, please dont disturb :)
  </div>
</div>

<h2>Admins</h2>
<div ng-if="vm.admins.length && !!vm.authentication.isAdmin()" class="list-group">
    <div class="row row-eq-height" ng-repeat="admin in vm.admins | orderBy:'title'">
      <div ng-show="!!admin.profileImageURL" class="col-md-2">
          <a href="#">
              <img class="img-responsive" ng-src="{{ admin.profileImageURL }}" alt="Yet to be uploaded" />
          </a>
      </div>
      <div ng-show="!admin.profileImageURL" class="col-md-2 col-sm-2">
          <a href="#">
              <img class="img-responsive" ng-src="modules/users/client/img/profile/default.png" alt="Yet to be uploaded"></img>
          </a>
      </div>
      <div class="col-md-10">
        <div class="col-md-4">
          <h4 ng-bind="admin.displayName"></h4>
          <div>User Name: {{ admin.username }}</div>
          <div>Email: {{ admin.email }}</div>
          <!-- <div>Location: {{book.location}}</div> -->
        </div>
        <div class="col-md-5">
          <div class="book-action">
            <a class="btn btn-primary" ng-click="vm.deleteAdmin(admin._id)">Revoke Admin Access</a>
          </div>
        </div>
      </div>
    </div>
</div>
