<section>
  <div class="home text-center">
    <br>
    <div class="row">
      <div calss="col-md-4 col-sm-4">
        <p class="lead">
          Popular Books
        </p>
        <div class="row carousel-container">
          <div class="col-md-2 col-sm-2">
            <span class="rn-carousel-control rn-carousel-control-prev ng-scope" ng-click="vm.prev()"></span>
          </div>
          <div class="col-md-8 col-sm-8">
            <ul class="popular-books" rn-carousel rn-carousel-index="vm.carouselIndex" rn-carousel-auto-slide rn-carousel-pause-on-hover class="image">
              <li>
                <img alt="Book Image" src="modules/core/client/img/popular/beautiful-code-cover.jpg">
              </li>
              <li>
                <img alt="Book Image" src="modules/core/client/img/popular/Easy-WaveMaker.jpg">
              </li>
              <li>
                <img alt="Book Image" src="modules/core/client/img/popular/go-cover.png">
              </li>
              <li>
                <img alt="Book Image" src="modules/core/client/img/popular/javascript_patterns.jpg">
              </li>
              <li>
                <img alt="Book Image" src="modules/core/client/img/popular/principia.jpg">
              </li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2">
            <span class="rn-carousel-control rn-carousel-control-next ng-scope" ng-click="vm.next()"></span>
          </div>
        </div><!--carouel container-->
      </div>
      <div class="col-md-8 col-sm-8">
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-md-3">
      <div class="wrapper">
        <div class="ribbon-wrapper-green"><div class="ribbon-green">Coming Soon</div></div>
        <h2 class="coming-soon"><strong>S</strong>tats</h2>
        <div class="coming-soon">
          <img class="feature-image" src="modules/core/client/img/features/stats.png">
          <p>Check your stats here. How many book you read? What you should pick up next? Your information here and from Goodreads, all in one place</p>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div class="wrapper">
        <div class="ribbon-wrapper-green"><div class="ribbon-green">Coming Soon</div></div>
        <h2 class="coming-soon"><strong>G</strong>o Mobile!</h2>
        <div class="coming-soon">
          <img class="feature-image" src="modules/core/client/img/features/mobile.jpg">
          <p>Download our app to easily access from mobile. App customised for easy access from your pocket device</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="wrapper">
        <a class="feature-links" href="https://github.com/Rahul-Raviprasad/Library/issues/" target="_blank">
          <h2><strong>I</strong>ssues</h2>
          <img class="feature-image" src="modules/core/client/img/features/ideas.jpg">
          <p>Help us improve our service. Raise any issues you find, our suggest what you would like added to the app. (Please check is already raised)</p>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="wrapper">
        <h2><strong>C</strong>ontact Us</h2>
        <img class="feature-image" src="modules/core/client/img/features/mail.jpg">
        <p>Want to Collaborate / Contribute? Mail us at rahul.raviprasad@imaginea.com or anoop.goudar@imaginea.com</p>
      </div>
    </div>
  </div>

</section>
