<section>
  <div class="home jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        Popular Books
      </p>
      <div class="row carousel-container">
        <div class="col-md-2 col-sm-2">
          <span class="rn-carousel-control rn-carousel-control-prev ng-scope" ng-click="vm.prev()"></span>
        </div>
        <div class="col-md-8 col-sm-8">
          <ul class="popular-books" rn-carousel rn-carousel-index="vm.carouselIndex" class="image">
            <li>
              <img alt="Book Image" src="http://placehold.it/300x300/c1c1c1/c1c1c1">
            </li>
            <li>
              <img alt="Book Image" src="http://placehold.it/300x300/c1c1c1/c1c1c1">
            </li>
            <li>
              <img alt="Book Image" src="http://placehold.it/300x300/c1c1c1/c1c1c1">
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-2">
          <span class="rn-carousel-control rn-carousel-control-next ng-scope" ng-click="vm.next()"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2><strong>S</strong>tats</h2>
      <p>Check your stats here.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>E</strong>xpress</h2>
      <p><a target="_blank" href="http://expressjs.com/"> Express</a> is a NodeJS server-side application web framework. Check out <a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>A</strong>ngularJS</h2>
      <p><a target="_blank" href="http://angularjs.org/">AngularJS</a> is client-side web application framework. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>N</strong>ode.js</h2>
      <p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a JavaScript run-time, popular for being a web server platform. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
  </div>

</section>
