<section ng-if="vm.authentication.isAdmin()" class="book-list">
  <div class="page-header">
    <dropdown dropdown-name="Category" src="vm.categories" selected-item="vm.selectedItem" width="100" height="" on-change="vm.changeSelectedBook(selectedItem)" ></dropdown>
  </div>
  <h3> Total number of books: {{ vm.filteredBooks.length }}</h3>
  <div ng-show="vm.filteredBooks.length" class="list-group">
      <div class="row row-eq-height" ng-repeat="book in vm.filteredBooks | orderBy:'title'">
        <div ng-show="!!book.imageURL" class="col-md-2">
            <a href="#">
                <img class="img-responsive" ng-src="{{ book.imageURL }}" />
            </a>
        </div>
        <div ng-show="!book.imageURL" class="col-md-2 col-sm-2">
            <a href="#">
                <img class="img-responsive" ng-src="modules/books/client/img/default5.jpeg" alt="Yet to be uploaded"></img>
            </a>
        </div>
        <div class="col-md-10">
          <div class="col-md-4">
            <h4 ng-bind="book.title"></h4>
            <h5 ng-bind="book.subtitle"></h5>
            <h5>Author: {{book.author}}</h5>
            <div>Publication: {{book.publications}}</div>
            <div>Category: {{book.category}}</div>
            <div>Location: {{book.location}}</div>
          </div>
          <div class="col-md-3">
            <h5>Description: </h5>
            <p ng-bind="book.desc"></p>
          </div>
          <div class="col-md-5 col-sm-4">
            <div class="book-action">
              <a class="btn btn-primary" ng-click="vm.makeAvailable(book)">Make it available</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div ng-show="!vm.filteredBooks.length">
    <h3>No Books found !!!</h3>
  </div>
</section>

<div ng-if="!vm.authentication.isAdmin()">
  <h1>Forbidden</h1>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    You are not authorized to access this resource
  </div>
</div>
