/*.book-list .row {
  border: 1px solid;
}*/

.book-list .row .col-md-2 img {
  margin: auto;
  margin-top: 5px;
  max-height: 140px;
}

/*.book-list .book-action {
  padding-top: 30px;
}*/

.book-form .mln {
  margin-left: 20px;
}
.book-details {
  margin-left: 20px;
  /*border: 1px solid black;*/
  width: 30%;
  overflow: scroll;
}
.book-img {
  margin-left: 10%;
  /*border: 1px solid black;*/
  width: 18%;
  height: 230px;
  background-size: cover;
  background: no-repeat center center fixed;
}
.book-details .field {
  line-height: 25px;
}

/* tablets and mobiles*/
@media only screen and (max-device-width: 1024px) {
  .list-group > .row {
    height: auto
  }

}

dropdown {
  display: inline-block;
}
.btn {
  margin: 5px;
  border-radius: 15px;
}

.search-box {
  color: black;
}
