.book-list .row {
  border: 1px solid;
  height: 150px;
}

.book-list .row .col-md-2 img {
  margin: auto;
  margin-top: 5px;
  max-height: 140px;
}

.book-list .book-action {
  padding-top: 60px;
}

.book-form .mln {
  margin-left: 20px;
}
.book-details {
  margin-left: 20px;
  /*border: 1px solid black;*/
  width: 30%;
  overflow: scroll;
}
.book-details .field {
  line-height: 25px;
}
