<div class="pull-left book-details">
  <div class="field"><b> Title : </b><input class="form-control" type="text" ng-model="vm.book.title" value="{{ vm.book.title }}"></input></div>
  <div class="field"><b>Author : </b><input class="form-control" type="text" ng-model="vm.book.author" value="{{ vm.book.author }}"></input></div>
  <div class="field"><b>Publications : </b><input class="form-control" type="text" ng-model="vm.book.publications" value="{{ vm.book.publications }}"></input></div>
  <div class="field"><b>Category : </b><input class="form-control" type="text" ng-model="vm.book.category" value="{{ vm.book.category }}"></input></div>
  <div class="field"><b>Status : </b><input class="form-control" type="text" ng-model="vm.book.status" value="{{ vm.book.status }}"></input></div>
  <div class="field"><b>ISBN : </b><input class="form-control" type="text" ng-model="vm.book.isbn" value="{{ vm.book.isbn }}"></input></div>
  <div class="field"><b>Possessor : </b><input class="form-control" type="text" ng-model="vm.book.possessor" value="{{ vm.book.possessor }}"></input></div>
  <div class="field"><b>Condition : </b><input class="form-control" type="text" ng-model="vm.book.condition" value="{{ vm.book.condition }}"></input></div>
  <div class="field"><b> Description : </b><input class="form-control" type="text" ng-model="vm.book.desc" value="{{ vm.book.desc }}"></input></div>
</div>
<div class="pull-left book-details">
  <div class="field"><b>Review Link : </b>
    <input class="form-control" type="text" ng-model="vm.book.reviewLink" value="{{ vm.book.reviewLink }}"></input></div>
  <div class="field"><b>Location : </b><input class="form-control" type="text" ng-model="vm.book.location" value="{{ vm.book.location }}"></input></div>
  <div class="field"><b>Contributed By : </b><input class="form-control" type="text" ng-model="vm.book.contributedBy" value="{{ vm.book.contributedBy }}"></input></div>
  <div class="field"><b>Created On : </b><input class="form-control" type="text" ng-model="vm.book.createdOn" value="{{ vm.book.createdOn }}"></input></div>
  <div class="field"><b>Created By : </b><input class="form-control" type="text" ng-model="vm.book.createdBy" value="{{ vm.book.createdBy }}"></input></div>
  <div class="field"><b>Updated On : </b><input class="form-control" type="text" ng-model="vm.book.updatedOn" value="{{ vm.book.updatedOn }}"></input></div>
  <div class="field"><b>Updated By : </b><input class="form-control" type="text" ng-model="vm.book.updatedBy" value="{{ vm.book.updatedBy }}"></input></div>

  <div >
    <a class="btn btn-primary" ng-click="vm.save()" href="#">Save</a>
    <a class="btn btn-primary" ng-click="vm.edit=false" href="#">Cancel</a>
  </div>
</div>
