<section>
  <div class="page-header">
    <a ng-if="!!vm.authentication.isAdmin()" class="btn btn-primary pull-right" ng-href="books/history/{{ vm.book._id }}">
      Book History<span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a class="btn btn-primary pull-right" href="/books">
      <span class="glyphicon glyphicon-chevron-left"></span>View Books
    </a>
    <h1>{{ vm.book.title }}</h1>
  </div>
  <book-details-view ng-show="!vm.edit" book="vm.book"></book-details-view>
  <book-details-edit ng-show="vm.edit" edit="vm.edit"></book-details-edit>
  <div ng-show="!vm.edit" class="pull-left book-img">
    <!-- <img ng-src="modules/books/client/img/head_first_javascript.jpg" alt="Yet to be uploaded"></img> -->
    <img ng-show="!!vm.book.imageURL" ng-src="{{vm.book.imageURL}}" alt="Yet to be uploaded" class="user-profile-picture"></img>
    <img ng-show="!vm.book.imageURL" class="img-responsive" ng-src="modules/books/client/img/default5.jpeg" alt="Yet to be uploaded"></img>
  </div>
  <div class="pull-left" ng-show="!vm.edit && !!vm.authentication.isAdmin()"><a class="btn btn-primary pull-right" ng-click="vm.editBook()" href="#">Edit Book</a></div>
  <div class="pull-left" ng-show="!vm.edit && !!vm.authentication.isAdmin()"><a class="btn btn-danger pull-right" ng-click="vm.deleteBook(vm.book)" ng-show="!edit" href="#">Delete Book</a></div>
  <div ng-show="!vm.edit">
    <add-review create-review="vm.createReview(newReview, vm.book)"></add-review>
    <all-reviews src="vm.allReviews" class="col-md-12" src=""></all-reviews>
  </div>
</section>
