<section>
  <div class="page-header">
    <h1 ng-bind="vm.book.Title"></h1>
  </div>
  <div class="pull-left book-details">
    <div class="field"><b>Author : </b>{{ vm.book.author }}</div>
    <div class="field"><b>Publications : </b>{{ vm.book.Publication }}</div>
    <div class="field"><b>Category : </b>{{ vm.book.category }}</div>
    <div class="field"><b>State : </b>{{ vm.book.State }}</div>
    <div class="field"><b>ISBN : </b>{{ vm.book.isbn }}</div>
    <div class="field"><b>Possessor : </b>{{ vm.book.Possessor }}</div>
    <div class="field"><b>Created On : </b>{{ vm.book.createdOn }}</div>
    <div class="field"><b>Created By : </b>{{ vm.book.createdBy }}</div>
  </div>
  <div class="pull-left book-details">
    <div class="field"><b>Condition : </b>{{ vm.book.Condition }}</div>
    <div class="field"><b>Review Link : </b>{{ vm.book['Review Link'] }}</div>
    <div class="field"><b>Location : </b>{{ vm.book.location }}</div>
    <div class="field"><b>Contributed By : </b>{{ vm.book.contributedBy }}</div>
    <div class="field"><b>Book ID : </b>{{ vm.book._id }}</div>
    <div class="field"><b>Updated On : </b>{{ vm.book.updatedOn }}</div>
    <div class="field"><b>Updated By : </b>{{ vm.book.updatedBy }}</div>
  </div>
  <p class="lead" ng-bind="vm.book.desc"></p>
</section>
