<section>
  <div class="page-header">
    <h1 ng-bind="vm.book.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.book.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="books.edit({ bookId: vm.book._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.book.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.book.user" ng-bind="vm.book.user.displayName"></span>
      <span ng-if="!vm.book.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.book.content"></p>
</section>
